<%= form_for([@user, @profile]) do |f| %>
      <% if @profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this review from being saved:</h2>

          <ul>
          <% @profile.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :availability %><br />
        <%= f.datetime_local_field :availability %>
      </div>

      <div class="field">
        <%= f.label :Video_conference_availability %><br />
        <%= f.datetime_local_field :videoconfavailability %>
      </div>

      <div class="actions">
        <%= f.submit "update availability"%>
      </div>
    <% end %>
