<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

  <div class="field">
     <%= f.label :name %><br />
     <%= f.text_field :name %>
  </div>

  <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email %>
  </div>


  <div class="field">
     <%= f.label :password %><br />
     <%= f.password_field :password %>
  </div>
  <div class="field">
     <%= f.label :password_confirmation %><br />
     <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
     <%= f.hidden_field :student, :value => false %>
  </div>

  <h2>Profile</h2>
  <div id="profile">
    <%= f.fields_for :profile do |profile_fields| %>

  <div class="field">
    <%= profile_fields.label :category %>
    <%= profile_fields.text_field :category %>
  </div>

  <div class="field">
    <%= profile_fields.label :qualification %>
    <%= profile_fields.text_area :qualification %>
  </div>

  <div class="field">
    <%= profile_fields.label :location %>
    <%= profile_fields.text_area :location %>
  </div>

  <div class="field">
    <%= profile_fields.label :availability %>
    <%= profile_fields.text_field :availability %>
  </div>

  <div class="field">
    <%= profile_fields.label :picture %>
    <%= profile_fields.text_field :picture %>
  </div>
  </div>
    <% end %>

  <div class="action">
     <%= f.submit %><br />
  </div>

  <% end %>
  <%= link_to 'Home', users_path %>
