<div class="signup-form-container1">
<h2 class='enroll-form'>Become a Tutor</h2>
<h3 class="headline">Fill out Profile Below</h3>
<%= form_for(@user, html: { multiport: true }) do |f| %>

  <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

  <div class="field">
     <%= f.label :name %><br />
     <%= f.text_field :name %>
  </div>

  <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email %>
  </div>


  <div class="field">
     <%= f.label :password %><br />
     <%= f.password_field :password %>
  </div>
  <div class="field">
     <%= f.label :password_confirmation %><br />
     <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
     <%= f.hidden_field :student, :value => false %>
  </div>

  <div id="profile">
    <%= f.fields_for :profile do |profile_fields| %>

  <div class="field">
    <%= profile_fields.label :category %><br/>
    <%= profile_fields.text_field :category %>
  </div>


  <div class="field">
    <%= profile_fields.label :availability %><br/>
    <%= profile_fields.datetime_local_field :availability %>
  </div>

  <div class="field">
    <%= profile_fields.label :qualifications %><br/>
    <%= profile_fields.text_area :qualification %>
  </div>

  <div class="field">
    <%= profile_fields.label :In_person_tutor_session_availability %>
    <%= profile_fields.datetime_local_field :availability %>
  </div>

  <div class="field">
    <%= profile_fields.label :location %><br/>
    <%= profile_fields.text_area :location %>
  </div>

  <div class="field">
    <%= profile_fields.label :Video_conference_availability %>
    <%= profile_fields.datetime_local_field :videoconfavailability %>
  </div>

  <div class="field">
     <%= profile_fields.hidden_field :avatar_cache %>
  </div>

  <h2 class="headline">Upload a photo so a student can see you</h2>
  <div class="field">
    <%= profile_fields.file_field :avatar %>
  </div>


  </div>


    <% end %>

  <div class="action">
     <%= f.submit %><br />
  </div>

  <% end %>
    <p class="signup-form-nav">
  <%= link_to 'Sign In', :login, class: 'dynamic-profile1' %> 
  <%= link_to 'Home', users_path, class: 'dynamic-profile' %>
  </p>

</div>