  <ul id="alltutors">
    <div class="spacer"></div>
    <% @users.each do |tutor| %>
      <div class="grey">
        <span class="thumbnail-holder">
        <%= image_tag tutor.avatar.url, class: 'avatar img-layout' %>
        </span>
        <li class="tutorli">Tutor's name: <%= tutor.user.name %></li>
        <li class="tutorli">Tutor's availability: <%= tutor.availability %></li>
        <li class="tutorli">Area of expertise: <%= tutor.category %></li>
        <li class="tutorli">Tutor's Location: <%= tutor.location %></li>
        <li class="tutorli">Distance to tutor's location <%= tutor.convert_km %>kms</li>
        <ul class="votestyle">
        <li><%= pluralize(tutor.display_upvote,"upvote") %></li>
        <li><%= pluralize(tutor.display_downvote,"downvote") %></li></br>
        </ul>
      <% if logged_in? && current_user.student? == false %>
        <li  class="tutorbook"><%= link_to "Book Appointment", tutor.user %></li></br>
      <% end %>
      </div>
    <% end %>
  </ul>
