  <ul id:"alltutors">
    <% @users.each do |tutor| %>
        <%= image_tag(tutor.avatar.url(:thumb)) %>
        <li>Tutor's name: <%= tutor.user.name %></li>
        <li>Tutor's availability: <%= tutor.availability %></li>
        <li>Area of expertise: <%= tutor.category %></li>
        <li>Tutor's Location: <%= tutor.location %></li>
        <li>Distance to tutor's location <%= tutor.convert_km %>kms</li></br>
      <% if logged_in? && current_user.student? == false %>
        <li><%= link_to "Book an appointment", tutor.user %></li></br>
      <% end %>
    <% end %>
  </ul>
