  <h1 class='user-header'>All Users</h1>
  <h2 class='user-header'>There are total of <%= pluralize(User.all.length,'registered member') %></h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>email</th>
        <th colspan='3'></th>
      </tr>
    </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: {confirm: "are you sure you would like to delete the user?"} %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
