<% if @user.student? && current_user.student? == false%>
    <h1><%= "#{@user.name}'s Profile" %></h1>
    <div class="tutors-photo">
      <%= image_tag @user.profile.avatar.url(:thumb) if @user.profile.avatar? %>
    </div>
      <ul>
        <li>Tutor's name: <%= @user.name %></li>
        <li>Tutor's email: <%= @user.email %></li>
        <li>A trusted tutor since <%= @user.created_at.strftime('%^b %d %Y') %></li>
        <li>Area of expertise: <%= @user.profile.category %></li>
        <li>Availability: <%= @user.profile.availability %></li>
        <li>Qualification: <%= @user.profile.qualification %></li>
        <li>Location: <%= @user.profile.location %></li>
      </ul>



    <h4>Make an appointment</h4>
      <%= form_for [@user, @appointment], :remote => true do |f| %>
        <div id="appointment_errors">
          <%= render :partial => 'appointment_form_errors' %>
        </div>

        <div class="field">
          <%= f.label :appointment_date %><br />
          <%= f.text_field :appointment_date %>
        </div>

        <div class="field">
           <%= f.hidden_field :tutor_id, :value => params[:id] %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>

<% else %>

  <div class="user-profile">
    <h1>User's Profile</h1>
      <ul>
        <li>Name: <%=@user.name%></li>
        <li>Email: <%=@user.email %></li>
      <% if current_user.student? %>
        <li>My availability: <%=@user.profile.availability%></li>
      <% end %>
  <% if current_user.student? == false %>
  <h2>You have <%= pluralize(@user.student_appointments.count, 'appointment') %></h2>

    <% @user.student_appointments.each do |student_appointment| %>
    <% if student_appointment.valid? %>
      <li>Tutor name: <%= (User.find(student_appointment.tutor_id).name) %></li>
      <li>Appointment Date: <%= student_appointment.appointment_date%></li>
      <li>Subject: <%= User.find(student_appointment.tutor_id).profile.category%></li></br>
    <% end %>
    <% end %>
  <% else %>
  <h2>You have <%= pluralize(@user.tutor_appointments.count, 'appointment') %></h2>
      <% @user.tutor_appointments.each do |tutor_appointment| %>
      <li>Student Name: <%= (User.find(tutor_appointment.student_id).name) %></li>
      <li>Appointment Date: <%= tutor_appointment.appointment_date%></li></br>
    <% end %>
    <% end %>
      </ul>
  </div>
<% end %>
