  <h1>Tutor's Info</h1>
  <ul>
    <li>Tutor's name: <%= @user.name %></li>
    <li>Tutor's email: <%= @user.email %></li>
    <li>a valuable member since <%= @user.created_at.strftime('%^b %d %Y') %></li>
    <% if @user.student? %>
    <h3><%= "#{@user.name}'s Profile" %></h3>
    <li>Area of expertise: <%= @user.profile.category %></li>
    <li>Availability: <%= @user.profile.availability %></li>
    <li>Qualification: <%= @user.profile.qualification %></li>
    <% end %>
  </ul>

  <% if current_user.student? == false %>

  <h4>Make an appointment</h4>

  <%= form_for [@user, @appointment], :remote => true do |f| %>


  <div id="appointment_errors">
    <%= render :partial => 'appointment_form_errors' %>
  </div>

  <div class="field">
    <%= f.label :appointment_date %><br />
    <%= f.date_field :appointment_date %>
  </div>

  <div class="field">
     <%= f.hidden_field :tutor_id, :value => params[:id] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
  <% end %>




<%= link_to 'Home', users_path %>
