<!DOCTYPE html>
<html>
<head>
  <title>Tutoru</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Nunito:300,400' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js", 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.min.js"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!--    // <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script> -->
</head>
<body>

<%= yield %>


    <nav id="application-nav-bar">

      <% if logged_in? && current_page?(users_path) %>
        <p>Logged in as <em><%= current_user.name.capitalize %></em></p>
        <%= link_to "My Profile", current_user %></ br>
        <%= link_to "Logout", :logout, method: :post %></ br>
      <% end %>

      <% if logged_in? && current_page?(users_path) == false %>
        <%= link_to "Logout", :logout, method: :post %></ br>
        <%= link_to "Home", users_path %>
      <% end %>

      <% if !logged_in? && current_page?(new_user_path) == false %>
        <%= link_to "Become a Tutor", new_user_path(tutor: true) %>
        <%= link_to "Become a Student", new_user_path %>
      <% end %>

      <% if !logged_in? && current_page?(:login) == false %>
         <%= link_to "Login", :login %>
      <% end %>
    </nav>

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>


</body>
</html>
